mainColor = #E57B2F
mainColorLight = #E39563
mainColorDark = #B3541B
mainColorVeryLight = #F4C9A9
mainColorWhite = #FEFEFE
mainColorContrast = #444343
activeColor = #E9D9CD
greyColor = #A4A4A4

body,html
	width : 100%
	height : 100%

a, a:hover, a:focus
	text-decoration : none